---
import AppContainer from "../components/AppContainer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="all" />
    <meta
      name="description"
      content="A simple tip calculator, challenge by Frontend Mentor"
    />
    <title>Tip Calculator</title>

    <meta property="og:title" content="Tip Calculator" />
    <meta
      property="og:description"
      content="A simple tip calculator, challenge by Frontend Mentor"
    />
    <meta property="og:image" content="/icon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body
    class="min-h-screen w-full bg-neutral-light-gray-cyan font-space-mono font-bold"
  >
    <AppContainer />
  </body>
</html>
