---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
import TipCalculator from "./TipCalculator.vue";
---

<main
  class="flex min-h-screen w-full flex-col items-center justify-between gap-12 pt-12 lg:justify-center lg:pt-0"
>
  <Image src={logo} alt="Tip Calculator" class="self-center" />
  <TipCalculator client:load />
</main>

<style is:global>
  /* Remove the arrows thing to increase or decrease the number. */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
  }
</style>
