---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
import TipCalculator from "./TipCalculator.vue";
---

<div class="flex h-full w-full flex-col gap-12 pt-12">
  <Image src={logo} alt="Tip Calculator" class="self-center" />
  <TipCalculator client:load />
</div>

<style is:global>
  /* Remove the arrows thing to increase or decrease the number. */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
  }
</style>
